html {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
body {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
div {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
span {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
object {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
iframe {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h1 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h2 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h3 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h4 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h5 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
h6 {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
p {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
blockquote {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
pre {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
abbr {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
address {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
cite {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
code {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
del {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dfn {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
em {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
img {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ins {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
kbd {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
q {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
samp {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
small {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
strong {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sub {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
sup {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
var {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
b {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
i {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dl {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dt {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
dd {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ol {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
ul {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
li {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
fieldset {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
form {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
label {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
legend {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
table {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
caption {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tbody {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tfoot {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
thead {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
tr {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
th {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
td {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
aside {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
canvas {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
details {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figcaption {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
figure {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
footer {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
header {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
hgroup {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
menu {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
nav {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
section {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
summary {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
time {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
mark {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
audio {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
video {
	font: inherit; margin: 0px; padding: 0px; border: 0px currentColor; border-image: none; vertical-align: baseline; font-size-adjust: inherit; font-stretch: inherit;
}
article {
	display: block;
}
aside {
	display: block;
}
details {
	display: block;
}
figcaption {
	display: block;
}
figure {
	display: block;
}
footer {
	display: block;
}
header {
	display: block;
}
hgroup {
	display: block;
}
menu {
	display: block;
}
nav {
	display: block;
}
section {
	display: block;
}
blockquote {
	quotes: none;
}
q {
	quotes: none;
}
blockquote::before {
	content: none;
}
blockquote::after {
	content: none;
}
q::before {
	content: none;
}
q::after {
	content: none;
}
ins {
	color: rgb(0, 0, 0); text-decoration: none; background-color: rgb(255, 255, 153);
}
mark {
	color: rgb(0, 0, 0); font-style: italic; font-weight: bold; background-color: rgb(255, 255, 153);
}
del {
	text-decoration: line-through;
}
abbr[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
dfn[title] {
	border-bottom-color: currentColor; border-bottom-width: 1px; border-bottom-style: dotted; cursor: help;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
hr {
	border-width: 1px 0px 0px; border-style: solid none none; border-color: rgb(204, 204, 204) currentColor currentColor; margin: 1em 0px; padding: 0px; border-image: none; height: 1px; display: block;
}
input {
	vertical-align: middle;
}
select {
	vertical-align: middle;
}
body {
	font: 13px/1.231 sans-serif; font-size-adjust: none; font-stretch: normal;
}
select {
	font: 99%/normal sans-serif; font-size-adjust: none; font-stretch: normal;
}
input {
	font: 99%/normal sans-serif; font-size-adjust: none; font-stretch: normal;
}
textarea {
	font: 99%/normal sans-serif; font-size-adjust: none; font-stretch: normal;
}
button {
	font: 99%/normal sans-serif; font-size-adjust: none; font-stretch: normal;
}
pre {
	font-family: monospace, sans-serif;
}
code {
	font-family: monospace, sans-serif;
}
kbd {
	font-family: monospace, sans-serif;
}
samp {
	font-family: monospace, sans-serif;
}
body {
	background: white; color: rgb(68, 68, 68); line-height: 1.4em;
}
header h1 {
	margin: 20px 0px 25px; height: 27px; color: black; line-height: 1.1em; font-size: 2em; display: inline-block;
}
header h1 small {
	font-size: 0.6em;
}
div#content {
	background: white; border-width: 1px 1px 1px 1px; border-style: solid; border-color: rgb(100, 100, 100); margin: 0px auto; padding: 40px 50px; border-image: none; width: 900px;
}
footer {
	text-align: center; color: rgb(153, 153, 153); padding-top: 40px; font-size: 0.8em;
}
body {
	font-family: sans-serif; font-size: 1em;
}
p {
	margin: 0px 0px 0.7em; max-width: 700px;
}
table + p {
	margin-top: 1em;
}
h2 {
	margin: 3em 0px 1em; font-size: 1.2em; font-weight: bold; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid;
}
h3 {
	font-weight: bold;
}
h2.intro {
	font-size: 1em; font-weight: normal; margin-top: 0px; border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none;
}
ul li {
	margin-bottom: 1.25em; margin-left: 1em;
}
ol li {
	margin-left: 1.25em;
}
ol ul {
	margin: 0.25em 0px 0px;
}
ul ul {
	margin: 0.25em 0px 0px;
}
ol ul li {
	margin: 0px 0px 0.25em 1em; list-style-type: circle;
}
ul ul li {
	margin: 0px 0px 0.25em 1em; list-style-type: circle;
}
li > p {
	margin-top: 0.25em;
}
div.side-by-side {
	width: 100%; margin-bottom: 1em;
}
div.side-by-side > div {
	width: 49%; float: left;
}
div.side-by-side > div > em {
	margin-bottom: 10px; display: block;
}
.faqs em {
	display: block;
}
.clearfix::after {
	height: 0px; overflow: hidden; clear: both; display: block; visibility: hidden; content: "\0020";
}
a {
	color: rgb(243, 108, 0); text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
ul.credits li {
	margin-bottom: 0.25em;
}
strong {
	font-weight: bold;
}
i {
	font-style: italic;
}
.button {
	background: linear-gradient(rgb(255, 255, 255), rgb(238, 238, 238)); padding: 0px 13px; border-radius: 4px; border: 1px solid rgb(187, 187, 187); border-image: none; height: 31px; color: rgb(85, 85, 85); line-height: 28px; font-family: "Helvetica Neue", Arial, Verdana, "Nimbus Sans L", sans-serif; font-size: 13px; font-weight: 500; text-decoration: none; vertical-align: middle; display: inline-block; white-space: nowrap; cursor: pointer; box-sizing: border-box; box-shadow: inset 0px 1px 1px rgba(255,255,255,0.2); text-shadow: 0px 1px 0px white; -webkit-font-smoothing: antialiased; -webkit-box-sizing: border-box; -moz-box-sizing: border-box;
}
.button-blue {
	background: linear-gradient(rgb(83, 178, 252), rgb(19, 133, 229)); border-color: rgb(7, 95, 169); color: white; font-weight: bold; text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}
.oss-bar {
	top: 0px; right: 20px; position: fixed; z-index: 1030;
}
.oss-bar ul {
	list-style: none; margin: 0px; float: right;
}
.oss-bar ul li {
	list-style: none; margin: 0px; line-height: 0; float: left;
}
.oss-bar ul li a {
	background: url("oss-credit.png") no-repeat 20px 22px rgb(243, 108, 0); padding: 22px 20px 12px; border: 0px currentColor; transition:0.15s ease-in-out; border-image: none; height: 58px; text-indent: 120%; overflow: hidden; margin-top: -10px; display: block; white-space: nowrap; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -webkit-transition: all 0.10s ease-in-out; -moz-transition: all 0.10s ease-in-out;
}
.oss-bar ul li a:hover {
	margin-top: 0px;
}
.oss-bar a.harvest {
	background-position: -142px 22px; width: 196px; padding-right: 22px; background-color: rgb(243, 108, 0);
}
.oss-bar a.fork {
	width: 162px; background-color: rgb(51, 51, 51);
}
.docs-table th {
	padding: 4px 6px; border: 1px solid rgb(0, 0, 0); border-image: none; white-space: nowrap;
}
.docs-table td {
	padding: 4px 6px; border: 1px solid rgb(0, 0, 0); border-image: none; white-space: nowrap;
}
.docs-table td:last-child {
	white-space: normal;
}
.docs-table th {
	text-align: left; font-weight: bold;
}
#content pre[class*=language-] {
	font-size: 12px; margin-bottom: 20px;
}
#content pre[class*=language-] code {
	padding: 0px; font-size: 12px;
}
#content code[class*=language-] {
	padding: 2px 4px; font-size: 12px;
}
.anchor {
	color: inherit; position: relative;
} 
.select {
	width: 350px;
}
.chosen-select {
	width: 350px;
}
.chosen-select-no-single {
	width: 350px;
}
.chosen-select-no-results {
	width: 350px;
}
.chosen-select-deselect {
	width: 350px;
}
.chosen-select-rtl {
	width: 350px;
}
.chosen-select-width {
	width: 350px;
}
.jquery-version-refer {
	font-style: italic; margin-top: 40px;
}
